.customer-wrapper img {
    width: 600px;
}

.customer-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3em 0em;
}

.subtitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0%;
}

.customer-wrapper p {
    width: 19%;
    border-radius: 150px;
    text-align: center;
    padding: 60px;
    background-color: #008e37;
    margin-right: 10%;
    color: white;
    font-size: 18px;
    margin-top: 2%;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .customer-wrapper img {
        width: 230px;
    }
    .customer-wrapper p {
        width: 50%;
        border-radius: 50px;
        text-align: center;
        padding: 15px;
        background-color: #008e37;
        color: white;
        font-size: 12px;
        margin-top: 2%;
    }
    .subtitle {
        font-size: 28px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .customer-wrapper img {
        width: 330px;
    }
    .customer-wrapper p {
        width: 70%;
        border-radius: 150px;
        text-align: center;
        padding: 25px;
        background-color: #008e37;
        color: white;
        font-size: 20px;
        margin-top: 2%;
    }
    .subtitle {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .customer-wrapper img {
        width: 600px;
    }
    .customer-wrapper p {
        width: 55%;
        border-radius: 120px;
        text-align: center;
        padding: 55px;
        background-color: #008e37;
        margin-right: 10%;
        color: white;
        font-size: 25px;
        margin-top: 2%;
    }
    .subtitle {
        font-size: 55px;
    }
}