.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding: 2% 5% 0% 5%;
    align-items: center;
    margin-top: 0.5em;
}

.navigation i {
    font-size: 24px;
}

.navigation h1 {
    font-size: 20px;
}