.salesbtn {
    width: 140px;
    padding: 5px;
    border-radius: 20px;
    border: 0px;
    background-color: #008e37;
    color: white;
    font-size: 15px;
    box-shadow: 0.05em 0em 0.5em 0.05em;
}

.sales-subtitle {
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    font-weight: bold;
}

.groceries {
    box-shadow: 0.05em 0em 0.5em 0.05em;
    padding: 15px;
    border-radius: 20px;
}

.sales-items {
    cursor: pointer;
    margin-top: 1%;
    --gap: 38px;
    --num-cols: 3;
    --row-height: 500px;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    justify-items: center;
    padding: 5em 2em;
}

.sales-items img {
    width: 270px;
}

.details {
    text-align: center;
    line-height: 2.5;
}

.details p {
    font-size: 19px;
}

.price {
    font-weight: bold;
}


/* 
.timeout-info {
    margin: 3% 0% 0% 5%;
    border: 0px;
    padding: 10px;
    width: 200px;
    color: white;
    background-color: #008e37;
    border-radius: 15px;
} */


/*=========================================MEDIA QURIES=====================================*/

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .sales-wrapper button {
        width: 135px;
        padding: 8px;
        border-radius: 20px;
        font-size: 16px;
    }
    .sales-subtitle {
        font-size: 30px;
    }
    .groceries {
        box-shadow: 0.05em 0em 0.5em 0.05em;
        padding: 15px;
    }
    .sales-items {
        cursor: pointer;
        margin-top: 4%;
        --gap: 22px;
        --num-cols: 1;
        --row-height: 510px;
        padding: var(--gap);
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap: var(--gap);
        justify-items: center;
    }
    .sales-items img {
        width: 300px;
    }
    .details {
        text-align: center;
        line-height: 1.8;
    }
    .details p {
        font-size: 20px;
    }
    .groceries {
        margin-top: 3%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .sales-wrapper button {
        width: 200px;
        padding: 11px;
        border-radius: 25px;
        font-size: 28px;
    }
    .sales-subtitle {
        font-size: 50px;
        margin-top: 5%;
    }
    .groceries {
        margin-top: 3%;
    }
    .sales-items {
        cursor: pointer;
        margin-top: 4%;
        --gap: 28px;
        --num-cols: 1;
        --row-height: 760px;
        padding: var(--gap);
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap: var(--gap);
        justify-items: center;
    }
    .sales-items img {
        width: 405px;
    }
    .details {
        text-align: center;
        line-height: 1.8;
    }
    .details p {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .sales-wrapper button {
        width: 260px;
        padding: 13px;
        border-radius: 30px;
        font-size: 35px;
    }
    .sales-subtitle {
        font-size: 50px;
        margin-top: 5%;
    }
    .groceries {
        box-shadow: 0.05em 0em 0.5em 0.05em;
        padding: 25px;
    }
    .sales-items {
        cursor: pointer;
        margin-top: 4%;
        --gap: 22px;
        --num-cols: 1;
        --row-height: 1050px;
        padding: var(--gap);
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap: var(--gap);
        justify-items: center;
    }
    .sales-items img {
        width: 650px;
    }
    .details {
        text-align: center;
        line-height: 1.8;
    }
    .details p {
        font-size: 48px;
    }
    .groceries {
        margin-top: 3%;
    }
}